@font-face {
  font-family: "saw";
  src: url("sawesome.woff") format("woff");
}

@font-face {
  font-family: "crt";
  src: url("Greenscr.woff") format("woff");
}

html {
  background-color: black;
  /* overflow: hidden; */
  margin: 0 auto;
}

hr {
  color: gray;
  background-color: gray;
  border: gray;
}

div {
  height: 100%;
}

h1, h2 {
  font-family: "saw";
  background-color: black;
  color: transparent;
  text-shadow: 0 0 10px rgba(84, 0, 0, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  /* modified from https://codepen.io/adambundy/pen/HtmaK */
  /* text-shadow: none; */
  /* text-shadow: 0 0 5px black; */
}

#titleheader {
  margin: 0;
  margin-top: 15px;
  font-size: 3em;
}

body {
  height: 100vh;
  margin: 0 auto;
  color: rgba(196, 217, 200, 0.8);
  text-shadow: 0 0 1.8px white;
  font-family: "crt";
}

.blood {
  background: url("images/blood.png");
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 95vh;
}

.bisect {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 100%;
  height: 100%;
}

.pokeball {
  background: radial-gradient(transparent, black), url("images/static2.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  box-shadow: 0 0 5px black, inset 0 0 5px black;
  height: 90%;
}

.pokeball img {
  max-height: 80vh;
  max-width: 80vw;
}

.leftMonitor {
  background: radial-gradient(rgba(0, 0, 0, 0.7), black), url("images/screen.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  box-shadow: 0 0 5px black, inset 0 0 5px black;
  height: 100%;
  padding: 10px;
}
.saw {
  background-image: url("images/jigsaw.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.kramer {
  background-image: url("images/kramer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.woodPanel {
  background: radial-gradient(rgba(0, 0, 0, 0.7), black), url("images/wood.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin: 5px;
  margin-top: 60px;
  box-shadow: 0 0 5px black, inset 0 0 5px black;
  bottom: 0;
}
.woodPanel p {
  font-family: sans-serif;
}
#displayStats {
  text-align: left;
}

.tvbox {
  text-align: center;
  background: linear-gradient(#181818, #050505);
  padding: 10px 15px;
  box-shadow: 0 0 5px black, inset 0 0 5px black;
  border: 0;
  border-radius: 3px;
  height: 100%;
}

.brown {
  background: linear-gradient(#5e5a40, #222014) !important;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 35px;
}

.tvbutton {
  display: inline;
  background-image: url("images/wood.jpg");
  background-position: center;
  background-size: cover;
  color: black;
  min-height: 20px;
  min-width: 50px;
  border-radius: 3px;
  margin: 5px;
  border: 0;
  box-shadow: 0 2px 4px black, inset -2px 2px 4px rgba(255, 255, 255, 0.2), inset 2px -2px 4px black;
  font-size: 15px;
  filter: brightness(75%);
}

.tvbutton:hover {
  filter: brightness(50%);
}
.tvbutton:active {
    box-shadow: inset -2px 2px 4px black, inset 2px -2px 4px rgba(255, 255, 255, 0.2);
    line-height: 0.8;
}
.on {
  background-color: #121212;
  color: white;
  text-shadow: 0 0 2px white;
}

.light {
  color: red;
  text-shadow: 0 0 2px red;
}

.dropShadow {
  filter: drop-shadow(0px 10px 10px black);
}

.glow {
  filter: drop-shadow(0 0 1.5px white);
}

.warp {
  filter: url(#displacementFilter);
}

.pokeball img:hover {
  filter: drop-shadow(0px 10px 10px black) url(#displacementFilter2);
}

.warpAndShadow {
  filter: drop-shadow(0px 10px 10px black) url(#displacementFilter);
}

.defs-only {
  position: absolute;
  height: 0;
  width: 0;
  overflow: none;
  left: -100%;
}

@media only screen and (max-width: 768px) {
  html {
    overflow: auto;
  }
  .grid-container {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
  }
  .leftMonitor {
    height: 120px;
    font-size: 12px;
    overflow-y: scroll;
  }
  .woodPanel {
    height: 250px;
    font-size: 12px;
  }
#titleheader {
  font-size: 2em;
}
.bisect {
  grid-template-rows: 40% 60%;
}
.tvbutton {
  font-size: 10px;
  padding: 3px;
  margin: 2px;
}
}
